:root {
    --light-text-color: #000;
    /* Default light mode text color */
    --light-background-color: #f7e1d7;
    /* Default light mode background color */

    --dark-text-color: #000;
    /* Default dark mode text color */
    --dark-background-color: #eeebd0;
    /* Default dark mode background color */
}


 @media(prefers-color-scheme: dark) {
    #root, html, .sidebar, .footer, .loader-overlay {
        background-color: var(--dark-background-color);
        color: var(--dark-text-color)
    }
}

@media(prefers-color-scheme: light) {
    #root, html, .sidebar, .footer, .loader-overlay {
        background-color: var(--light-background-color);
        color: var(--light-text-color)
    }
} 